<div class="container mt-4">
  <h2>Lista de Productos</h2>
  <button class="btn btn-primary mb-3" (click)="router.navigate(['/products/new'])">Agregar Nuevo Producto</button>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency }}</td>
        <td>
          <button class="btn btn-info btn-sm me-2" (click)="viewProduct(product.id!)">View</button>
          <button class="btn btn-warning btn-sm me-2" (click)="editProduct(product.id!)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>